#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:


php:
	date.timezone: Europe/Prague


nette:
	application:
		errorPresenter: Error
		mapping:
			*: App\*Module\Presenters\*Presenter

	session:
		expiration: 14 days

extensions:
    skautis: Skautis\Nette\SkautisExtension # yourNameOfExtension : SkautIS\Nette\SkautisExtension22

services:
	user:
		class: Nette\Security\LoggedUser
	lc: LazyContainer
	WatchRepository:
		factory: @lc::getWatchRepository()
		class: WatchRepository
	PersonRepository:
		factory: @lc::getPersonRepository()
		class: PersonRepository
	- App\RouterFactory
	- App\Forms\ArticleFormFactory
	- App\Forms\CommentFormFactory
	- App\Forms\FileFormFactory
	- App\Forms\QuestionFormFactory
	- App\Forms\AnswerFormFactory
	- App\Forms\PhotoUploadFormFactory
	- App\Forms\PhotoDescriptionFormFactory
	- App\Forms\RaceFormFactory
	- App\Forms\WatchFormFactory
	- App\Forms\MembersFormFactory
	- ArticleRepository
	- ArticleDbMapper
	- CommentRepository
	- CommentDbMapper
	- FileDbMapper
	- FileRepository
#	- PersonRepository
	- PersonDbMapper
	- PersonIsMapper
	- PhotoRepository
	- RaceRepository
	- RaceDbMapper
	- PhotoDbMapper
	- UnitRepository
	- UnitISMapper
	- UnitDbMapper
	- UserRepository
	- UserIsMapper
	- UserDbMapper
#	- WatchRepository
	- WatchIsMapper
	- WatchDbMapper
	- QuestionRepository
	- QuestionDbMapper
	- LazyContainer
	- Nette\Utils\Paginator
	router: @App\RouterFactory::createRouter
	authenticator: Authenticator