parameters:


database:
	dsn: 'mysql:host=127.0.0.1;dbname=zavody'
	user: zavody
	password: ***
	options:
		lazy: yes

skautis:
    applicationId : 9902f743-b534-487d-9644-9172b8151ecf
    testMode : true #using http://test-is.skaut.cz/
    profiler: false