{block content}

<h1>Odkazy na moje stránky:</h1>
<ul>
	<li><a n:href="Article:my">Moje články</a></li>
	<li><a n:href="File:my">Moje soubory</a></li>
	<li><a n:href="Photo:my">Moje fotky</a></li>
	<li><a n:href="Question:my">Moje otázky</a></li>
	<li><a n:href="Race:my">Moje závody</a></li>
	<li><a n:href="Watch:my">Moje hlídky</a></li>
</ul>


{/block}