<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Nové výsledky závodu</title>
    <style>    
    </style>
</head>
<body>
    <p>Nazdar,</p>

    <p>na webu <a href="zavody.skauting.cz">Skautských závodů</a> byly zadány výsledky závodu, na kterém jste se podíleli.
		Pokud by jsi s něčím nesouhlasil, obrať se na velitele závodu: {$race->commander}, email: {$race->commanderEmail}
	</p>	
		
	{include 'results.latte'}
	
	<p>
		Se stiskem levice
	</p>
	
	<p>
		Tým skautských závodů,<br />
		zavody@zavody.skauting.cz
	</p>
	
</body>
</html>