{block content}

<h3>Úprava již nahraného souboru</h3>

<p>Pokud vyberete nový soubor, ten stávající bude přepsán. Pokud tedy chcete pouze upravit jméno a popis
	souboru, pole soubor nechte prázdné.</p>

{control fileForm}

{/block}