div.flash {
	color: black;
	background: #FFF9D7;
	border: 1px solid #E2C822;
	padding: 1em;
	margin: 1em 0;
}

div.flash.error {
	color: black;
	background: darksalmon;
	border: 1px solid red ;
	padding: 1em;
	margin: 1em 0;
}

.img-thumbnail {
	height: 180px;
	width: 171px;
	margin-right: 15px;
	margin-bottom: 20px;
}

.panel {
	padding: 10px;
}

.empty {
	text-align: center;
}

.table-non-lined td {
    border-top: none !important;
}

.table-non-lined th {
    border-top: none !important;
}

.table-centred td {
	text-align: center;
	vertical-align: middle;
}

tr.bold td {
	font-weight: bold;
}

form .errors {
	color: #D00;
	font-weight: bold;
}

#ajax-spinner {
	opacity : 0.4;
    position: absolute;
    top: 0;
    left: 0;
    background: black url('/img/ajax-loader.gif') no-repeat 50% 50%;
    width: 100%;
    z-index: 5000;
	height: 100%;   
}

.table th, td {
	text-align: center;
}